<div id="main-content">
    <p><b>Статистика:</b></p>
    <br>
    <label for="date-stat">Дата:</label>
    <input id="date-stat" type="date">
    <label for="board">Билборд:</label>
    <select id="board">
        <option value="NVNVS005BPLS">NVS005BPL</option>
        <option value="NVS002APL">NVS002APL</option>
        <option value="NVS006BPL">NVS006BPL</option>
        <option value="NVS011APL">NVS011APL</option>
        <option value="NVS015APL">NVS015APL</option>
        <option value="NVS024BPL">NVS024BPL</option>
        <option value="NVS025APL">NVS025APL</option>
        <option value="NVS031APL">NVS031APL</option>
        <option value="NVS032APL">NVS032APL</option>
        <option value="NVS034APL">NVS034APL</option>
        <option value="NVS036APL">NVS036APL</option>
        <option value="NVS037APL">NVS037APL</option>
        <option value="NVS047APL">NVS047APL</option>
        <option value="NVS053APL">NVS053APL</option>
        <option value="NVS054AP">NVS054APL</option>
        <option value="NVS055APL">NVS055APL</option>
        <option value="NVS058APL">NVS058APL</option>
        <option value="NVS071APL">NVS071APL</option>
        <option value="NVS201ASS">NVS201ASS</option>
    </select>
    <button class="btn btn-primary" (click)="add()">Показать</button>

    <div [chart]="chart"></div>
    <div [chart]="chart1"></div>

</div>