<p>Расчет плановых значения для показов рекламы</p>

<table border="1">
    <tr>
        <th>Параметр</th>
        <th>Описание</th>
    </tr>
    <tr>
        <td>Адресная программа</td>
        <td>Выбор экранов на которых должны выходить рекламные показы и осуществляться набор рекламных контактов (OTS).</td>
    </tr>
    <tr>
        <td>Количество рекламных контактов (OTS)</td>
        <td>Количество рекламных контактов, которое должно быть набрано в ходе рекламной кампании, с учетом заданных параметров.</td>
    </tr>
    <tr>
        <td>Период</td>
        <td>Выбор периода рекламной кампаний. Например, с 1 по 30 сентября 2021 г. Нельзя выбирать "рванные" период в рамках одной рекламной кампании (например, с 1 по 3 сентября и с 15 по 25 сентября).</td>
    </tr>
    <tr>
        <td>День недели</td>
        <td>Выбор дней недели когда должны идти рекламные показы и осуществляться набор рекламных контактов (OTS). При выборе Дня недели, реклама будет размещаться в этот день недели на протяжении всего Периода. Например, реклама показывается каждую пятницу, субботу и воскресенье с 1 по 30 сентября 2021 г.</td>
    </tr>
    <tr>
        <td>Часовой интервал</td>
        <td>Выбор часового интервала для каждого выбранного дня недели когда должны идти рекламные показы и осуществляться набор рекламных контактов (OTS). При выборе часового интервала для определенного дня недели, реклама будет размещаться в этот часовой интервал в этот день недели на протяжении всего Периода. Например, реклама показывается с 10.00 до 16.00, каждую пятницу с 1 по 30 сентября 2021 г.</td>
    </tr>
    <tr>
        <td>Частота показов в час</td>
        <td>"Частота (количество выходов) показов в час в выбранные часовые интервалы, которое напрямую влияет на объем ОТС. 
            Хронометраж 1 показа - 5 секунд. 
            С помощью выставления частоты показов в час регулируется пронозируемое количество рекламных контактов (ОТS), которое будет набрано в ходе рекламной кампании. Чем больше частота показов, тем больше OTS будет набрано. Например, оператор системы задает все необходимые параметры, в том числе указывает частоту показов в час - 36. Система выдает прогноз, что при такой частоте показов и других заданных параметрах, на доступной свободной емкости на цифровом эркане будет набрано 10 000 рекламных контактов, тогда как по брифу нужно, например, только 5000 рекламных контактов. Тогда оператор регулирует частоту показа - уменьшая с 36 до 18 показов в час и получая уменьшенный прогноз по количеству рекламных контактов.
            
            Важные моменты, которые следует иметь в виду:
            1) Частота показов выбирается из фиксированых вариантов  - 6 , 9, 18, 24, 30, 36, 42, 48, 54, 60, 66 и 72 показов в час. Нельзя задать произвольное значение частоты показов в час в настройках кампании.
            2) Максимально доступное количество показов в час (когда вся емкость свободна) - 72 показа.
            3) Показы внутри часа распределены равномерно. Например, при выборе 36 показов в час, открутки рекламных выходов будут происходить каждые 100 секунд внутри задействованных часов.
            4) Частота показов в час - единый параметр на всю кампанию. Нельзя выбирать разные частоты показов для разных часовых интервалов или дней недели в рамках одной рекламной кампании.
            5) Если в каком-то часе не хватает необходимого количества показов, то за рекламной кампанией бронируется остатоток, которые есть. Например, в настройках рекламной кампании задана частота показов в час - 36. В часе N есть только 9 показов, так как все остальные показы уже заняты другими кампаниями. Значит в этом случае за рекламной кампанией в часе N будет зарезервировано 9 показов (и останется 0 доступных показов для последующих запросов), а в следующем часе, который, например, полностью свободен, будет забронировано 36 показов из 72 показов доступных."</td>
    </tr>
</table>
	
	
	
	
	
	
